.birdCard.card {
  align-items: center;
  color: #ffffff;
  width: 70%;
  height: 280px;
  overflow: hidden;

  .card-body { 
    padding: .5rem 1rem;

    .birdCard-item-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      &-img {
        width: 25%;
        padding-bottom: 20%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 1.5rem;
      }
  
      .birdCard-item-wrapper-title {
        width: 70%;
        padding: 0 10px;

        .card-text {
          margin-bottom: .5rem;
        }
  
        .react-audio-player {
          width: 100%;
          outline: none;
          height: 35px;
        }
      }
    }
  
    .card-text {
      padding-top: 10px;
      font-size: 16px;
    }
    
  }
}
